<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<button onclick="document.getElementById('th').style.display='block'">login</button>

<button onclick="document.getElementById('id01').style.display='block'">Sign Up</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" 
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

       <label for="psw"><b>username</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>




      <button onclick="document.getElementById('x').style.display='block'">submit</button>

      
    
      </div>
    </div>
  </form>
</div>
    
<div id="th" class="modal">
  <span onclick="document.getElementById('th').style.display='none'" 
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>login</h1>
      <p>Please fill in this form to enter your account.</p>
      <hr>
      
      <label for="psw"><b>username</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Password</b></label>
      <input type="password" placeholder="Password" name="psw-repeat" required>



      <button onclick="document.getElementById('x').style.display='block'">submit</button>





      <div id="x" class="modal">
        <span onclick="document.getElementById('x').style.display='none'" 
  <form class="modal-content" action="/action_page.php">
    <div class="container">





      </div>
    </div>
  </form>
</div>

</body>
</html>