<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
   
    <style >body {
  background-color: lightblue;
  .header 
  padding: 100px;
  text-align: center;
  background: #1abc9c;
  color: darkblue;
  font-size: 70px;

</style>
     

</head>
<body>
    <div class="header">
  <h1>welcome to yas's website</h1>
</div>
    <div class="navbar">
  <a href="#">my cart</a>
  <a href="#">home page</a>
  <a href="#">shop now</a>
  <a href="#" class="right">sign up/log in</a>
</div>
<img src="/static/shop2.j">
</body>
</html>